doctype html
-
  const redirect = `${baseurl}docs/`
html(lang="en-US")
  head
    meta(charset="UTF-8")
    meta(http-equiv="refresh", content=`0; url=${redirect}`)
    title PN532.js
  body
    | If you are not redirected automatically, follow this #[a(href=`${redirect}`) link to PN532.js Document].
    script.
      window.location.href = '#{redirect}'
